<ion-header>
    <ion-navbar color="danger">
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title>Add New Service Provider</ion-title>
   </ion-navbar>
 </ion-header>
 
 <ion-footer>
     <ion-navbar color="danger">
       <ion-title></ion-title>
     </ion-navbar>
 </ion-footer>

<ion-content padding>

  <form [formGroup]="form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <ion-list>
      <ion-item margin-bottom>
        <ion-label >Name</ion-label>
        <ion-input type="text" [(ngModel)]="fname" formControlName="fname"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.fname"  >
          <div class="error-message" *ngIf="form.get('fname').hasError(validation.type) && (form.get('fname').dirty || form.get('fname').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >User Name</ion-label>
        <ion-input type="text" [(ngModel)]="username" formControlName="username"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.username"  >
          <div class="error-message" *ngIf="form.get('username').hasError(validation.type) && (form.get('username').dirty || form.get('username').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >Address</ion-label>
        <ion-input type="text" [(ngModel)]="address" formControlName="address"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.address"  >
          <div class="error-message" *ngIf="form.get('address').hasError(validation.type) && (form.get('address').dirty || form.get('address').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email"  >
          <div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password"  >
          <div class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >Re Enter Password</ion-label>
        <ion-input type="Password" [(ngModel)]="rePassword" formControlName="rePassword"></ion-input>
      </ion-item>
      <ion-label *ngIf="password!=''&&password!=rePassword" style="color:red">Passwords
        Do Not Match !</ion-label>

      <ion-item margin-bottom>
        <ion-label >Telephone</ion-label>
        <ion-input type="number" [(ngModel)]="telephone" formControlName="telephone"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.telephone"  >
          <div class="error-message" *ngIf="form.get('telephone').hasError(validation.type) && (form.get('telephone').dirty || form.get('telephone').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >Type</ion-label>
        <ion-select [(ngModel)]="type" formControlName="type">
          <ion-option>
            Transport
          </ion-option>
          <ion-option>
            Hotel
          </ion-option>
          <ion-option>
            Resort
          </ion-option>
          <ion-option>
            Park
          </ion-option>
          <ion-option>
            Play Ground
          </ion-option>
          <ion-option>
            Other
          </ion-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.type"  >
          <div class="error-message" *ngIf="form.get('type').hasError(validation.type) && (form.get('type').dirty || form.get('type').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item margin-bottom>
        <ion-label >Description</ion-label>
        <ion-input type="text" [(ngModel)]="description" formControlName="description"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.description"  >
          <div class="error-message" *ngIf="form.get('description').hasError(validation.type) && (form.get('description').dirty || form.get('description').touched)" style="color:red">  
        {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <button ion-button class="submit-btn" full type="submit" color="energized" [disabled]="!form.valid" text-center block>Save this record</button>
      <!-- <button ion-button class="submit-btn" full type="submit" [disabled]="!Form.form.valid"> Save this Record</button> -->
    </ion-list>
  </form>


</ion-content>